dist
node_modules
.editorconfig
package-lock.json
tsconfig.tsbuildinfo
test/screenshot
test/static/modules/*.js
test/static/modules/**/*.js
!test/static/modules/lib/**/*.js
!IPFSverify.js
openswap/test/static/modules/*.js
openswap/test/static/modules/**/*.js
script.json
.idea
